/*------HEADER---------*/

body {
    background-color: darkseagreen;
}

header {
    background: linear-gradient(rgb(40, 89, 179), rgb(33, 179, 33), rgb(224, 103, 123));
    border-color: black;
    border-style: dotted;


    display: grid;
    grid-template-columns: 1000px 500px;
    grid-template-rows: 150px 80px;
    grid-template-areas: "titulo logo""menu menu";
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    color: chartreuse;
}

.logo {
    width: 150px;
    height: 150px;
    border: solid black 4px;
    border-radius: 80px;
    grid-area: logo;
}

.carousel-inner {
    max-height: 35rem;
    padding-top: 2vw;
}

#p {
    color: aliceblue;
    font-size: 25px;
    width: 1350px;
    height: 400px;
    padding: 2vw;
    margin: 1vw;
    background: linear-gradient(rgb(40, 40, 131), rgb(106, 67, 178), rgb(137, 30, 48));
    align-content: center;
    justify-content: center;
}

@keyframes animacion1 {}

@media (min-width: 480px) {
    .header {
        background-color: rgb(50, 50, 119);
        border-color: black;
        border-style: dotted;
    }
}

body {
    background-color: rgb(21, 106, 61);

}

#p {
    text-align: center;
    font-size: 30pxpx;
    padding: 2vw;

}





/*------INICIO------*/

.titulo {
    color: rgb(39, 6, 70);

    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    grid-area: titulo;
}

p {
    text-align: center;
    font-size: 20px;
}

.titulo__clinica {
    text-align: left;
    color: darkred;
    font-size: 40px;
}

.titulo__clinica--somos {
    font-size: 40px;
    color: rgb(52, 52, 128);
    text-align: center;
}

figure {
    align-content: flex-start;
}

#h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(46, 16, 106);

}

.articulo {
    text-align: center;
    margin: 3vw 3vh;


    display: grid;

    grid-template-columns: 650px 650px;
    grid-template-rows: 250px 250px;
    column-gap: 5px;
    row-gap: 5px;

}

.butonn {
    width: 100px;
    height: 50px;
    border: solid rgb(111, 20, 195);
    border-radius: 40%;
}

.item {
    background-color: rgb(195, 157, 230);
    border: solid black;
    display: grid;

}

/*---------SECCION----*/
.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);


}

.imgClinica {
    width: 600px;
    height: 400px;
    grid-column: 1/2;
    grid-row: 1/2;

}

.clinicaVet {
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: center;
    margin-top: 20%;

}

.parrafo {
    grid-area: clinicaVet parrafo;
    grid-column: 2/4;
    grid-row: 2/3;
    text-align: top center;
}

/*---------seccion2--------*/
.section2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);


}

.imgP {
    width: 600px;
    height: 400px;
    grid-column: 2/4;
    grid-row: 2/-3;

}

.peluqueria {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    margin-top: 20%;

}

.parrafo2 {
    grid-area: clinicaVet parrafo;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: top center;
}

/*----------------PET SHOP----------*/
.pet {
    justify-content: stretch;
}

.butonn3 {
    width: 50px;
    height: 50px;
    border: solid rgb(111, 20, 195);
    border-radius: 40%;
}

/*---------------FOOTER---------------*/
.futer {
    background-color: rgb(205, 255, 155);
}

.logo footer {
    width: 50px;
    height: 60px;

}

.footerlista {
    color: blanchedalmond;

    text-shadow: none;
}

ul.col-4.footer.lista {
    list-style-type: none;
}

#iconos {
    font-size: 26px;

}