/*------HEADER---------*/

body {
    background-color: rgb(136, 182, 136);
}

header {
    background-color: fuchsia ;
    border-color: black;
    border-style: dotted;
    width: 1200px;

    display: grid;
    grid-template-columns: 1000px 500px;
    grid-template-rows: 150px 80px;
    grid-template-areas: "titulo logo" "menu menu";
}
.animate__animated.animate__bounce {
    --animate-duration: 3s;
  }

.logo {
    width: 150px;
    height: 150px;
    border: solid black 4px;
    border-radius: 80px;
    transition: width 20s;
    grid-area: logo;
}

@keyframes animacion1 {
    0%{ width: 700px; }
    25%{ width: 800px; }
    50%{ width: 600px ;
    background-color: rgb(66, 106, 216); }
    75%{ width: 700px;}
    100%{ width: 600px;
    background-color:rgb(143, 242, 78);}
}
.imgUno {
    width: 800px;
    height: 400px;
    background-color: green;
    animation-name: animacion1;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 0s;
}

@media (max-width: 480px) {
    .header{
        width: 300px;

        background-color: rgb(50, 50, 119);
        border-color: black;
        border-style: dotted;
    }
    body{
        background-color: rgb(21, 106, 61);

    }
    p{
        text-align: center;
        font-size: 15px;
    }
    
}

/*------INICIO------*/

.titulo {
    color: blueviolet;

    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    grid-area: titulo;
}

p {
    text-align: center;
    font-size: 20px;
}

.titulo__clinica {
    text-align: left;
    color: darkred;
    font-size: 40px;
}

.titulo__clinica--somos {
    font-size: 29px;
    color: rgb(52, 52, 128);
    text-align: center;
}

#foto4 {
    border:black dashed;
    box-shadow: offset-x cornflowerblue;
}

/*---FOOTER------*/
footer {
    background-color: rgb(85, 85, 185);

    display: grid;
    grid-template-columns: 200px repeat(3, 1fr);
    grid-template-rows: 180px 120px;
    grid-template-areas: "logoTitulo productos nosotros servicios"
    "redes boton";
}

.logo footer{
    width: 50px;
    height: 60px;

    grid-area: logoTitulo;

}

.footer__lista {
    color: blanchedalmond;

    list-style-type: none;
    text-shadow: none;
}

figure {
    align-content: flex-start;
}

#h1 {
    font-size: 40px;
    color: rgb(46, 16, 106);

}

.articulo {
    /*
    border: solid 1px black;
    background-color: rgb(132, 132, 198);
    */
    text-align: left;

    display: grid;

    grid-template-columns: 650px 650px;
    grid-template-rows: 200px 200px;
    column-gap: 10px;
    row-gap: 10px;

}

.butonn {
    width: 100px;
    border: solid rgb(111, 20, 195);
    border-radius: 25%;
}

.item {
    background-color: rgb(195, 157, 230);
    border: solid black;
    display: grid;

}

.section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
      
}


.clinicaVet{
    width: 250px;
    height: 250px;
    border: solid black 5px;
    border-radius: 80px;
}
.clinic{
    text-align: right;

}

