@charset 'utf-8';

@import "utilidades/variables";
@import "index";
@import "map,mixin/map";
@import "map,mixin/mixin";


.tarjeta{
    width: 2rem;
    height: 4rem;
    background-color: aquamarine;
}

.tarjeta2{
    @extend .tarjeta;
    color: aliceblue;
}